<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>High Low</title>
</head>
<body>
<!DOCTYPE html>
            <html>
              <head>
                <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
              </head>
              <body>
                <h1>Welcome to the game of Hi/Lo</h1>
                <<form action="HighLow" method="post" align="center" >
    				<input type="text" name="inputNum" id="num">
    				<button type="submit">Guess</button>
        			<br>
				</form>
                <h2>Computer's responses:</h2>
                <p><span th:text="${feedback}">This is gonna get replaced</span></p>
              </body>
            </html>
</body>
</html>